{% extends 'base.html.twig' %}

{% block body %}

<div id="article1 col-md-12">
	<div class="col-md-6">
	<img src="{{ asset('img/Comme-des-Bêtes-Affiche-France.jpg') }}" class="cover">
	</div>
	<div class="col-md-6">
		<h1><i>Titre du film : Comme des Bêtes</i></h1>

		<h2>Année de parution : 2016</h2>
			<h3>Folder : ?</h3>
				<p>Type de film : Comme des bêtes est un film d'animation Franco-américain réalisé par Chris Renaud et Yarrow Cheney, sorti en 2016.</p></br>
				<p>Synopsis : La vie secrète que mènent nos animaux domestiques une fois que nous les laissons seuls à la maison pour partir au travail ou à l’école...</p></br>
				<p>Titre original : "The Secret Life of Pets"</p></br>
				<p>Distributeur Universal Pictures International France</p></br>
				<p><a href="http://www.allocine.fr/video/player_gen_cmedia=19563241&cfilm=237443.html" class="trailer">Trailer du film</a></p>
				</br>
		<div><p>Commentaires</p>
		</div>
	</div>

</div>









{% endblock %}